{% extends 'base.html' %}

{% block header %}
    <h1>Resultats du recherche</h1>
    <a href="/" class="btn btn-success">- Retour</a>
{% endblock %}

{% block content %}
    <table cellpadding="5">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nr contrat</th>
                <th>Nom abonne</th>
                <th>Statut</th>
                <th>Mois</th>
                <th>Annee</th>
                <th>Indice ER</th>
                <th>Indice HC</th>
                <th>Indice HN</th>
                <th>Indice HP</th>
                <th>Ind Max</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for r in releves %}
            <tr>
                <td>{{ r.Id}}</td>
                <td>{{ r.Nr_contrat }}</td>
                <td>{{ r.nom_abonne }}</td>
                <td>{{r.statut}}</td>
                <td>{{r.mois}}</td>
                <td>{{r.annee}}</td>
                <td>{{ r.IER }}</td>
                <td>{{ r.IEA_HC }}</td>
                <td>{{ r.IEA_HN }}</td>
                <td>{{ r.IEA_HP }}</td>
                <td>{{ r.imax }}</td>
                <td>
                    <a href="{{ url_for('releve.modifier', id=r.Id) }}" class="btn btn-success">Modifier</a>
                </td>
                <td>
                    <a href="{{ url_for('releve.calculer', id=r.Id) }}" class="btn btn-success">Facture</a>
                </td>
                    
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
