{% extends 'base.html' %}
{% block header %}
    <h1>Rechercher</h1>
    <form action="{{ url_for('releve.rechercher') }}" method="get">
        <input type="text" name="q" placeholder="Rechercher par nom, date ou numéro..." 
            value="{{ request.args.get('q', '') }}">
        <button type="submit" class="btn btn-success">Rechercher</button>
    </form>
    <a href="{{ url_for('releve.index') }}" class="btn btn-success">Retour</a>
{% endblock %}

{% block content %}
<div class="search-container">
    <div class="search-card">
        <div class="search-header">
            <i class="fas fa-search"></i>
            <h1>Insérer/Modifier des Relevés</h1>
            <p>Sélectionnez une période pour afficher les données</p>
        </div>
        
        <form method="post" class="search-form">
            <div class="form-group">
                <label for="mois">
                    <i class="far fa-calendar-alt"></i> Période (Mois-Année)
                </label>
                <div class="date-input-container" style="display: flex; gap: 50px;">
                    <input type="month" id="mois" name="mois">
                </div>
            </div>

            <div style="display: flex; gap: 50px;">
                <div class="form-group" style="flex: 1;">
                    <label for="nom" style="display: block;">
                        <i class="fas fa-user"></i> Nom
                    </label>
                    <input type="text" id="nom" name="nom" placeholder="Nom de l'abonné / id" style="width: 100%;">
                </div>

                <div class="form-group" style="flex: 1;">
                    <label for="statut" style="display: block;">
                        <i class="fas fa-check-circle"></i> Statut
                    </label>
                    <select id="statut" name="statut" style="width: 100%; height: 42px;">
                        <option value="">-- Tous --</option>
                        <option value="valide">Valide</option>
                        <option value="non valide">Non valide</option>
                    </select>
                </div>
            </div>

            
            <button type="submit" class="btn-search">
                <i class="fas fa-search"></i> Rechercher
            </button>
        </form>
    </div>
</div>
{% endblock %}