{% extends "base.html" %}

{% block title %}Liste des Contrats{% endblock %}

{% block header %}
  <h1>Liste des contrats</h1>
  <form action="{{ url_for('contrat.rechercher') }}" method="get">
      <input type="text" name="q" placeholder="Rechercher par Nr_contrat, nom ,date ..." 
        value="{{ request.args.get('q', '') }}">
      <button type="submit" class="btn btn-success">Rechercher</button>
  </form>
  <a href="{{ url_for('contrat.contrat_ajouter') }}" class="btn btn-success">+ Ajouter</a>
  <a href="{{ url_for('contrat.contrat_index') }}" class="btn btn-success">Retour</a>
{% endblock %}

{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th>N° Contrat</th>
        <th>Nom Abonné</th>
        <th>Adresse</th>
        <th>Date</th>
        <th>Secteur</th>
        <th>Puissance Souscrite (kW)</th>
        <th>Puissance Installée(kW)</th>
        <th>Type Installation</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for contrat in contrats %}
        <tr>
          <td>{{ contrat.Nr_contrat }}</td>
          <td>{{ contrat.nom_abonne }}</td>
          <td>{{ contrat.Adresse }}</td>
          <td>{{ contrat.date_contrat }}</td>
          <td>{{ contrat.Secteur }}</td>
          <td>{{ contrat.Puissance_souscrite }}</td>
          <td>{{contrat.Puissance_installee}}</td>
          <td>{{ contrat.type_installation }}</td>
          <td><a class="action" href="{{ url_for('contrat.contrat_modifier', Nr_contrat=contrat['Nr_contrat']) }}">Modifier</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}