{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Relevés pour {{ mois }}{% endblock %}</h1>
  
{% endblock %}

{% block content %}
  <form method="post">
    <button type="submit" class="btn btn-success">Enregistrer</button>
    <table class="table-releves">
      <thead >
        <tr>
          <th>Contrat</th>
          <th>Abonné</th>
          <th>Statut</th>
          <th>Indice_ER</th>
          <th>Indice_HC</th>
          <th>Indice_HN</th>
          <th>Indice_HP</th>
          <th>Indice_Max</th>
            <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for releve in releves %}
        <tr>
          <td>{{ releve['Nr_contrat'] }}</td>
          <td>{{ releve['nom_abonne'] }}</td>
          <td>{{releve['statut']}}</td>
          <td>
            <input type="number" name="indice_IER_{{ releve['Id'] }}" 
                   value="{{ releve['IER'] or '' }}" class="form-control">
          </td>
          <td>
            <input type="number" name="indice_IEA_HC_{{ releve['Id'] }}" 
                   value="{{ releve['IEA_HC'] or '' }}" class="form-control">
          </td>
          <td>
            <input type="number" name="indice_IEA_HN_{{ releve['Id'] }}" 
                   value="{{ releve['IEA_HN'] or '' }}" class="form-control">
          </td>
          <td>
            <input type="number" name="indice_IEA_HP_{{ releve['Id'] }}" 
                   value="{{ releve['IEA_HP'] or '' }}" class="form-control">
          </td>
          <td>
            <input type="number" name="indice_IMAX_{{ releve['Id'] }}" 
                   value="{{ releve['IMAX'] or '' }}" class="form-control">
          </td>
          <td>
            <a href="{{ url_for('releve.modifier', id=releve['Id']) }}" class="btn btn-success">Modifier</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
{% endblock %}